
<h1 class="h1" style="text-align: center; text-decoration: underline; ">Happy Restaurant App</h1>
<hr>

<ul>
  
<li><a routerLink="/">HOME</a></li>
<li><a routerLink="/starters">STARTERS</a></li>
<li><a routerLink="/maincourse">MAIN COURSE</a></li>
<li><a routerLink="/drinks">DRINKS</a></li>
<li><a routerLink="/soups">SOUPS</a></li>
<li><a routerLink="/salads">SALADS</a></li>

</ul>
<div style="height:100%; width:100%">
  <div style="float:left; height:'100%'; width:'70%' ">
  <router-outlet></router-outlet>
  </div>
  <div style="float:right; height:'100%'; width:'30%' ">
    <app-bill></app-bill>
    </div>
</div>


